<!DOCTYPE html>
<html class="fixed dark">
<head>
    <meta charset="UTF-8">

    <title>CMC CYBER THREAT</title>
    <meta name="keywords" content="CMC CYBER THREAT v1.0"/>
    <meta name="description" content="CMC CYBER THREAT v1.0">
    <meta name="author" content="minhdtb">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css"/>

    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" href="/vendor/jquery-ui/jquery-ui.theme.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap-multiselect/bootstrap-multiselect.css"/>
    <link rel="stylesheet" href="/vendor/jqvmap/jqvmap.css"/>
    <link rel="stylesheet" href="/vendor/jquery.terminal/jquery.terminal.min.css"/>
    <link rel="stylesheet" href="/stylesheets/flag-icon.css"/>
    <link rel="stylesheet" href="/stylesheets/theme.css"/>
    <link rel="stylesheet" href="/stylesheets/skins/default.css"/>
    <link rel="stylesheet" href="/stylesheets/theme-custom.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <script src="/vendor/modernizr/modernizr.js"></script>
</head>
<body>
<div id="popup" class="row popup">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table mb-none table-bordered" style="width: 200px">
                <tbody id="content">
                </tbody>
            </table>
        </div>
    </div>
</div>

<section class="body">

    <!-- start: header -->
    <header class="header">
        <div class="logo-container">
            <a href="../1.7.0" class="logo">
                <img src="/images/logo.png" width="75" height="35" alt="Porto Admin"/>
            </a>
            <a class="btn btn-primary report" href="/report">
                <i class="fa fa-bar-chart"></i>
                Report
            </a>
            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
                 data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <section role="main" class="content-body" style="margin-left: 0;">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                    </div>

                                    <h2 class="panel-title">Top Malware</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table mb-none table-bordered table-striped">
                                            <tbody>
                                            <% topMalware.forEach(function(data, index) { %>
                                            <tr>
                                                <td class="col-index"><%= index + 1 %></td>
                                                <td><%= data.name %></td>
                                                <td class="col-badge">
                                                    <span class="badge label-danger malware"
                                                          data-name="<%= data.name %>"><%= data.count %></span>
                                                </td>
                                            </tr>
                                            <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                    </div>
                                    <h2 class="panel-title">Top Remote</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table mb-none table-bordered table-striped">
                                            <tbody>
                                            <% topRemote.forEach(function(data, index) { %>
                                            <tr>
                                                <td class="col-index"><%= index + 1 %></td>
                                                <td><%= data.remoteHost %></td>
                                                <td class="col-badge">
                                                    <span class="badge label-danger remote"
                                                          data-host="<%= data.remoteHost %>"><%= data.count %></span>
                                                </td>
                                            </tr>
                                            <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <%- include world.ejs %>
                            <section class="panel" id="console">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                                        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                                    </div>
                                    <h2 class="panel-title">Console</h2>
                                </header>
                                <div class="panel-body">
                                    <div id="terminal"></div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <%- include vietnam.ejs %>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                    </div>

                                    <h2 class="panel-title">Top Region</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table mb-none table-bordered table-striped"
                                               style="overflow: hidden">
                                            <tbody>
                                            <% topRegion.forEach(function(data, index) { %>
                                            <tr>
                                                <td class="col-index"><%= index + 1 %></td>
                                                <td class="col-flag"><span
                                                            class="flag-icon <%= 'flag-icon-' + data.countryCode %>">

                                                    </span>
                                                </td>
                                                <td><%= data.regionCode %></td>
                                                <td class="col-badge"><span class="badge label-danger region"
                                                                            data-country-code="<%= data.countryCode %>"
                                                                            data-region-code="<%= data.regionCode %>"> <%= data.count %></span>
                                                </td>
                                            </tr>
                                            <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- Vendor -->
<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/vendor/nanoscroller/nanoscroller.js"></script>
<script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/vendor/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/vendor/jquery-placeholder/jquery-placeholder.js"></script>
<script src="/vendor/jquery.terminal/jquery.terminal.js"></script>
<script src="/vendor/d3/d3.js"></script>
<!-- Specific Page Vendor -->
<script src="/vendor/jquery-ui/jquery-ui.js"></script>
<!-- Theme Base, Components and Settings -->
<script src="/javascripts/theme.js"></script>
<!-- Theme Custom -->
<script src="/javascripts/theme.custom.js"></script>
<!-- Theme Initialization Files -->
<script src="/javascripts/theme.init.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>